<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    {{ with resources.Get "css/main.css" | minify }}
        <link rel="stylesheet" type="text/css" href="{{ .Permalink }}">
    {{ end }}

    <script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-svg.js"></script>

    <script>
        MathJax = {
            tex: {
                displayMath: [['\\[', '\\]']],
                inlineMath: [['\\(', '\\)']]
            }
        };
    </script>
</head>

<body>
    <header>
        {{ block "header" . }}
            <h1>
                {{ .Title }}
            </h1>
            <p>
                <em> {{ .Params.Subtitle }} </em>
            </p>
        {{ end }}
    </header>

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
        {{ block "footer" . }}
            <p>
                Copyright © Laboratorio de Informática y Matemáticas (LIMA) y sus contribuyentes.
            </p>
        {{ end }}
    </footer>
</body>

</html>
